<!-- Header Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="index.html">
            <img src="img/logo.svg" alt="Text Utils Logo" style="height: 100px;">
            <span class="ms-3" style="font-size:x-large;">Text Utilities</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accentColorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Accent Color
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" id="accentColorDropdownMenu" aria-labelledby="accentColorDropdown">
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="btn btn-task mx-2" href="https://chessnerd.net/" target="_blank" rel="noopener noreferrer">
                        Chess Nerd
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-task" href="https://bookstacks.org/" target="_blank" rel="noopener noreferrer">
                        Bookstacks
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
